* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #4B7399;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.container {
    width: 85%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 50px;
    border: solid 1px black;
    margin-top: 10px;
}

.botao {
    padding: 5px 2px;
    background-color: rgb(65, 113, 158);
    color: #ffffff;
    font-weight: bold;
    border: solid 1px rgb(65, 113, 158);
}

.botao-verde {
    padding: 5px 2px;
    background-color: #469536;
    color: #ffffff;
    font-weight: bold;
    border: solid 1px #469536;
}

.botao-vermelho {
    padding: 5px 2px;
    background-color: #ff4500;
    color: #ffffff;
    font-weight: bold;
    border: solid 1px #ff4500;
}

.notificacao {
    color: #808080;
    border: 1px solid #808080;
    padding: 3px;
}

.notificacao:empty {
    border: none;
}

.tabela {
    width: 100%;
    word-wrap: break-word;
    font-size: 13px;
}

.filtro {
    position: absolute;
    right: 10%;
}

.paginacao {
    margin-top: 5%;
}

.pagina{
    display: inline-block;
    text-decoration: none;
}

a {
    text-decoration: none;
}